@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(219, 219, 219);
  
}

h1 {
  padding: .5em 1em;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  color: grey;
}
.imputsMain{
padding: auto;
margin: auto auto auto auto;
}
.data {
  box-sizing:border-box;
  display: flex;
  margin: auto auto auto auto;
  width: 35em;
  margin: 2em auto 10% auto;
  text-align:center;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 50px;

 box-sizing: border-box;
}
input{
  overflow: hidden;
  border-radius:50px;
  padding: 0 3px 0 0;
}
button {
  margin: 10px auto auto auto;
  height: auto;
}

.container {
width: 80%;
display: flex;
margin: auto auto auto auto;
flex-wrap:wrap;
justify-content:space-around;
width: auto;
}

.imputs {
margin: 10px auto 10px auto;
display: flex;
flex-direction:column;
justify-content: space-between;
box-sizing: border-box;
}

.title{
  width: 100%;
}



.item {
  width: 20em;
  background-color: white;
  box-sizing: border-box;
  padding: 1.5em;
  margin-bottom: 100px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item h2 {
  font-size: 1em;
  margin-bottom: .2em;
}


.dark
{
  background-color: rgb(39, 39, 39);
}

.dark h1
{
  background-color: rgb(19, 19, 19);
  color: rgb(170, 170, 170);
  border-color: black;
}

label{
margin-left: 10px;
color:aliceblue;
font-size: 14px;
}
